/* SpoqaHanSansNeo-Regular */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

/* SpoqaHanSansNeo-Bold */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

/* SpoqaHanSansNeo-Light */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 300; /* Light 스타일을 위한 보통의 font-weight 값 */
  font-display: swap;
  src: url("./fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}

/* SpoqaHanSansNeo-Medium */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 500; /* Medium 스타일을 위한 보통의 font-weight 값 */
  font-display: swap;
  src: url("./fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

/* SpoqaHanSansNeo-Thin */
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 100; /* Thin 스타일을 위한 보통의 font-weight 값 */
  font-display: swap;
  src: url("./fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.AppStyle {
  max-width: 576px;
  margin:auto;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

.datePicker {
  border-radius: 10px;
  width: 20rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color:#757575
}

.filebox label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 10px solid #E3F2FD;
  background-color: white;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  margin: 0.5rem 0rem;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}